div p{
    background-color: black;
    color: white;
    text-align: justify;
    width: 400px;
    margin: 20px auto;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 8px solid darkgoldenrod;
}